/.deps
/.libs
/Makefile
/Makefile.in
/aclocal.m4
/audio2tape
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/createhdf
/depcomp
/fmfconv
/fuse-utils.qpg
/install-sh
/libtool
/listbasic
/ltmain.sh
/missing
/mkinstalldirs
/profile2map
/raw2hdf
/rzxcheck
/rzxdump
/rzxtool
/scl2trd
/snap2tzx
/snapconv
/stamp-h
/stamp-h.in
/stamp-h1
/tape2wav
/tapeconv
/tzxlist
