*~
*.a
*.orig
*.reg
/aclocal.m4
/audio2tape
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/createhdf
.DS_Store
/depcomp
.deps
.dirstamp
/*.dSYM
/*.exe
/fmfconv
/fuse-utils.qpg
/install-sh
.libs
/libtool
/listbasic
/ltmain.sh
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/Makefile
/Makefile.in
/missing
/mkinstalldirs
*.o
/profile2map
/raw2hdf
/rzxcheck
/rzxdump
/rzxtool
/scl2trd
/snap2tzx
/snapconv
/snapdump
/stamp-h
/stamp-h1
/stamp-h.in
/tape2pulses
/tape2wav
/tapeconv
/tzxlist
.vscode
